{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.html", "*.css", "*.tsx", "*.ts", "*.json"],
      "options": {}
    }
  ]
}
